- @client_reviews_by_id.each do |urls|
  %tr
    %td
      = urls.directory_url
    %td
      = Date.parse(urls.posted_on).strftime("%B %e, %Y")
    %td
      = Date.parse(urls.submitted_on).strftime("%B %e, %Y")