.load_reviews
  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %h4
      = link_to "Dashboard", admins_path
    %thead
      %tr
        %th Directory URL
        %th Posted [30 days]
        %th Visible [30 days]
    %tbody
      - if @client_reviews_by_id.present?
        = render partial: 'clients/review_listing'
      - else
        = render partial: 'clients/no_review_found'
= render partial: 'reviews/unposted/reviews_not_posted'